{% extends "XabenForumBundle::layout.html.twig" %}

{% trans_default_domain 'xabenforum' %}

{% block content %}
    <div class="Forum">
        <div class="container">
            <div class="row Forum__header">
                <div class="col-sm-8">{{ 'forum.header.forum' | trans }}</div>
                <div class="col-sm-1">{{ 'forum.header.topics' | trans }}</div>
                <div class="col-sm-1">{{ 'forum.header.replies' | trans }}</div>
                <div class="col-sm-2">{{ 'forum.header.last_reply' | trans }}</div>
            </div>

            {% for category in categories %}
                <div class="row Forum__sub_header">
                    <div class="col-xs-12">
                        {{ category.title }}
                    </div>
                </div>
                {% for forum in category.forums %}
                    <div class="row Forum__row {{ cycle(['c1', 'c2'], loop.index0) }}">
                        <div class="col-sm-1 text-center">
                            <img src="{{ asset('bundles/xabenforum/img/folder_big.gif') }}"/>
                        </div>
                        <div class="col-sm-7">
                            <a href="{{ path('XabenForumBundle_topics', { 'forumId': forum.id }) }}">{{ forum.title }}</a><br/>
                            {{ forum.description }}
                        </div>
                        <div class="col-sm-1 text-center">{{ forum.topiccount }}</div>
                        <div class="col-sm-1 text-center">{{ forum.posts }}</div>
                        <div class="col-sm-2 text-center">
                            {% if forum.last_post is not null %}
                                {{ forum.last_post.post_time | date('d M Y H:i:s')}}<br/>
                                <a class="member">{{ forum.last_post.poster.baseuser.username }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if category.forums | length == 0 %}
                    <div class="row Forum__row">
                        <div class="col-xs-12">
                            {{ 'forum.error.no_forums' | trans }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if categories | length == 0 %}
                <div class="row Forum__row">
                    <div class="col-xs-12">
                        {{ 'forum.error.no_categories' | trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
