{% extends "XabenForumBundle::layout.html.twig" %}

{% trans_default_domain 'xabenforum' %}

{% block content %}
<div class="Forum">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="text-left">{{ 'forum.header.post_a_reply'| trans }}</h1>
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button class="btn btn-primary" type="submit">{{ 'forum.button.post'| trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
