{% extends "XabenForumBundle::layout.html.twig" %}

{% trans_default_domain 'xabenforum' %}

{% block postnav %}
<div class="col-xs-6">
    <a class="btn btn-primary" href="{{ path('XabenForumBundle_newpost', { 'topicId': posts[0].topic.id }) }}">{{ 'forum.button.new_post' | trans }}</a>

    <a href="{{ path('XabenForumBundle_index') }}">{{ 'forum.button.forum_index'| trans }}</a> &#187;
    <a href="{{ path('XabenForumBundle_topics', { 'forumId': posts[0].topic.forum.id }) }}">{{ posts[0].topic.forum.title }}</a>
</div>
<div class="col-xs-6 Forum__pagination">
    {{ knp_pagination_render(posts) }}
</div>
{% endblock %}

{% block content %}
<div class="Forum">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-left">
                    <a href="{{ path('XabenForumBundle_posts', { 'topicId': topic.id }) }}">{{ topic.title }}</a>
                </h3>
            </div>
        </div>
        <div class="row Forum__nav">
            {{ block('postnav') }}
        </div>

        {% for post in posts %}
            <div class="row Forum__row {{ cycle(['c1', 'c2'], loop.index0) }}">
                <div class="col-sm-3 info">
                    <img src="{{ gravatar( post.poster.baseuser.email ) }}"/><br/>
                    <strong>{{ post.poster.baseuser.username }}</strong><br/><br/>
                    <strong>{{ 'forum.stats.posts' | trans }}:</strong> {{ post.poster.posts }}<br/>
                    <strong>{{ 'forum.stats.topics_started' | trans }}:</strong> {{ post.poster.topics }}<br/>
                    <strong>{{ 'forum.stats.last_post' | trans }}:</strong> {{ post.poster.lastpost | date('d-m-Y H:i:s') }}<br />
                    <strong>{{ 'forum.stats.first_post' | trans }}:</strong> {{ post.poster.firstactivity | date('d-m-Y H:i:s') }}
                </div>
                <div class="col-sm-9 post">
                    <p class="addr">
                        <img src="{{ asset('bundles/xabenforum/img/icon_post_target.gif') }}"/> {{ 'by'|trans }}
                        <a href="/">{{ post.poster }}</a>
                        {{ 'on'|trans }} {{ post.posttime | date('d-m-Y H:i:s') }}
                    </p>
                    {{ post.posttext.text }}
                </div>
            </div>
        {% endfor %}
        <div class="row Forum__nav">
            {{ block('postnav') }}
        </div>
</div>
{% endblock %}
