{% extends "XabenForumBundle::layout.html.twig" %}

{% trans_default_domain 'xabenforum' %}

{% block topicnav %}
<div class="nav">
    <a class="btn btn-primary" href="{{ path('XabenForumBundle_newtopic', { 'forumId': forum.id }) }}">New Topic</a>
    <a href="{{ path('XabenForumBundle_index') }}">Forum Index</a> &#187;
    <a href="{{ path('XabenForumBundle_topics', { 'forumId': forum.id }) }}">{{ forum.title }}</a>
    {{ knp_pagination_render(topics) }}
</div>
{% endblock %}


{% block content %}
<div class="Forum">
    <div class="container">
        <div class="row Forum__nav">
            {{ block('topicnav') }}
        </div>
        <div class="row Forum__header">
            <div class="col-sm-7">{{ 'forum.header.topic' | trans }}</div>
            <div class="col-sm-1">{{ 'forum.header.author' | trans }}</div>
            <div class="col-sm-1">{{ 'forum.header.replies' | trans }}</div>
            <div class="col-sm-3">{{ 'forum.header.last_message' | trans }}</div>
        </div>
        {% for topic in topics %}
            <div class="row Forum__row {{ cycle(['c1', 'c2'], loop.index0) }}">
                <div class="col-xs-1 text-center">
                    <img src="{{ asset('bundles/Xabenforum/img/folder.gif') }}"/>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path('XabenForumBundle_posts', { 'topicId': topic.id }) }}">{{ topic.title }}</a>
                </div>
                <div class="col-xs-1 text-center">{{ topic.poster.baseuser.username }}</div>
                <div class="col-xs-1 text-center">{{ topic.replies }}</div>
                <div class="col-xs-3 text-center">
                    {{ topic.last_post.post_time |date('d M Y H:i:s') }}<br/>
                    <strong>{{topic.last_post.poster.baseuser.username}}</strong>
                </div>
            </div>
        {% endfor %}
        {% if topics|length == 0 %}
            <div class="row Forum__row">
                <div class="col-xs-12">
                    {{ 'forum.error.no_topics' | trans }}
                </div>
            </div>
        {% endif %}
        <div class="row Forum__nav">
            {{ block('topicnav') }}
        </div>
    </div>
</div>
{% endblock %}
