@CHARSET "UTF-8";

div#forum div.c1, div#forum div.c2{
    position:relative;
    min-height: 170px;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

div#forum div.c1{
    background-color: #D5E2DF;
}

div#forum div.c2{
    background-color: #EAF2EE;    
}

div#forum div.info{
    position: absolute;
    width: 200px;
    right: 0px;
    top: 0px;
    border-left: 1px solid #FFF;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #666;
}

div#forum div.info strong{
    color: #000;
}

div#forum a.member{
    font-weight: bold;
    text-decoration:none;
}

div#forum div.post{
    width:inherit;
    font-size: 1.3em;
    margin-right: 230px;
    text-align: justify;
}

div#forum div.post p.addr{
    font-size: 0.8em;
    line-height: 1.5;
}